@font-face{
  
}
body{
  font-family: "Heebo", sans-serif;
}
.wrap{
  max-width: 1240px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}
.block{
  display: block;
}
.hide{
  display: none;
}

/* 버튼 스타일 */
.shop{
  width: 40px;
  height: 40px;
  background-image: url(../img/svg/shopping_bag_white.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(3,189,115,0.51);
  border-radius: 50%;
  position: absolute;
  bottom: 30%;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}
.like{
  background-color: #fff;
  width: 50px;
  padding: 3px 5px;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 5px;
  left: calc(50% - 30px);
  opacity: 0;
  cursor: pointer;
}
.star{
  background-image: url(../img/svg/star.svg);
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -30px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
}
/* 폰트크기 */
.h1{
  font-size: 40px;
}
.h2{
  font-size: 32px;
}
.h3{
  font-size: 20px;
}
.h4{
  font-size: 17px;
}
.h5{
  font-size: 16px;
}
.h6{
  font-size: 13px;
}
.p{
  font-size: 12px;
}

.current{
  
}
.price{
  width: fit-content;
  background-color: #f06060;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  padding: 6px;
  display: inline-block;
}
.add{
  font-size: 12px;
  width: fit-content;
  border: 1px solid #3333332e;
  line-height: 1;
  padding: 5px;
  background-color: #473833;
  color: #fff;
}
.limited{
  font-size: 12px;
  width: fit-content;
  border: 1px solid #3333332e;
  line-height: 1;
  padding: 5px;
  display: inline-block;
}
.free{
  font-size: 12px;
  width: fit-content;
  border: 1px solid #3333332e;
  line-height: 1;
  padding: 5px;
  display: inline-block;
}